@page "/fetchdata"
@*@inject HttpClient Http*@
@inject APIService apiService
@inject SignalRService signalService
@using blazorApp.Extensions;
@using blazorApp.Models.API;
@using blazorApp.Services;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@*@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
*@
@code {
    private ApiInfoModel? apiInfo;
    private CarViewModel[]? cars;
    private AuthRespModel? authResp;
    private CarViewModel? carResp;

    //[Inject]
    //private TodoService todoService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        signalService.messageRecived += (sender, message) =>
        {
            Console.WriteLine(message);
        };
        apiInfo = await apiService.Info(); // Http.GetFromJsonAsync<ApiInfoModel>("api/info");
        authResp = await apiService.Authenticate(new AuthRequest("admin", "admin123")); // Http.PostAsJsonAsync<AuthRespModel, AuthRequest>("user/authenticate", new AuthRequest("admin", "admin123"));
        carResp = await apiService.CarAdd(new CarCreateModel("Auto Nuevo", 1, 1, 1)); // Http.PostAsJsonAsync<CarViewModel, CarCreateModel>("car/add", new CarCreateModel("Auto Nuevo", 1, 1, 1), authResp?.Token ?? "");
        cars = await apiService.CarList(); // Http.GetFromJsonAsync<CarViewModel[]>("car/cars", authResp?.Token ?? "");
        var i = 0;
        i++;

        signalService.SendMessage("holaaa");
        //var a = await Http.GetFromJsonAsync<ApiInfoModel>("api/info");
    }

   

}
